@using PortalAboutEverything.Models.Game
@using PortalAboutEverything.LocalizationResources
@model GameCreateViewModel

<form method="post" enctype="multipart/form-data">
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = Game_Index.Placeholder_GameName })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        @Html.TextAreaFor(x => x.Description, new { placeholder = Game_Index.Placeholder_GameDescription })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.YearOfRelease)
        @Html.TextBoxFor(x => x.YearOfRelease,
                 new
                 {
                     placeholder = "Год выпуска",
                     @class = "my-input",
                     @type = "number",
                     // @min = "1990",
                     // @max = "2020"
                 })
        @Html.ValidationMessageFor(x => x.YearOfRelease)
    </div>
    <div>
        <input type="file" name="@nameof(GameCreateViewModel.Cover)" accept="image/png, image/jpeg" />
        @Html.ValidationMessageFor(x => x.Cover)
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
