@model PortalAboutEverything.Models.Game.IndexViewModel
@using PortalAboutEverything.LocalizationResources

@section Style {
    <link rel="stylesheet" href="/css/Game/index.css?v=2" />
}

<div>
    @if (Model.CanCreateGame)
    {
        <a href="/Game/Create">@Game_Index.CreateGame</a>
    }
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a href="/Game/Gamer">@Game_Index.Gamer</a>
    }
</div>
<div class="games">
    @foreach (var game in Model.Games)
    {
        <div class="game">
            @Game_Index.Game <a href="/Game/Update?id=@game.Id">@game.Name</a> @Game_Index.ReleaseDate_LowerCase @game.YearOfRelease

            <span> Вот что о ней говорят @game.Description</span>
            @if (Model.CanDeleteGame)
            {
                <a href="/Game/Delete?id=@game.Id" class="delete">Х</a>
            }
        </div>
        @foreach (var review in game.Reviews)
        {
            <div class="review">
                @review.Text <span class="date">@review.DateOfCreation</span>
            </div>
        }
        <form action="/Game/AddReview" method="post">
            <input type="hidden" value="@game.Id" name="gameId" />
            <textarea name="text" placeholder="Напиши свой отзыв здесь"></textarea>
            <input type="submit" value="Отставить отзыв" />
        </form>
    }
</div>
