@using PortalAboutEverything.Data.Enums
@using PortalAboutEverything.LocalizationResources
@using PortalAboutEverything.Services.AuthStuff
@inject AuthService authService

@{
    var isAdmin = authService.HasRoleOrHigher(UserRole.VideoLibraryAdmin);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @await RenderSectionAsync("Title", true)
    <link rel="stylesheet" href="/css/video-library/reset-css.css">
    <link rel="stylesheet" href="/css/video-library/variables.css">
    <link rel="stylesheet" href="/css/video-library/global.css">
    <link rel="stylesheet" href="/css/video-library/nav-menu.css">
    @await RenderSectionAsync("Style", false)
    @await RenderSectionAsync("TopScripts", required: false)
</head>
<body>
<div class="background"></div>
<div class="main-section">
    <div class="nav-menu">
        <div class="left-part">
            <a href="/" class="home-button">
                <div class="home-button-info">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M160-120v-480l320-240 320 240v480H560v-280H400v280H160Z"/>
                    </svg>
                    <span>@VideoLibrary_Layout.Home</span>
                </div>
                <div class="button-active-mark"></div>
            </a>
        </div>
        <div class="middle-part">
            <a href="/VideoLibrary" class="menu-button @(ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "")">
                <div class="menu-button-info">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M160-120v-480l320-240 320 240v480H560v-280H400v280H160Z"/>
                    </svg>
                    <span>@VideoLibrary_Layout.AllVideos</span>
                </div>
                <div class="button-active-mark"></div>
            </a>
            <a href="/VideoLibrary/Liked" class="menu-button @(ViewContext.RouteData.Values["Action"]?.ToString() == "Liked" ? "active" : "")">
                <div class="menu-button-info">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/>
                    </svg>
                    <span>@VideoLibrary_Layout.LikedVideos</span>
                </div>
                <div class="button-active-mark"></div>
            </a>
        </div>
        <div class="right-part">
            @if (isAdmin)
            {
                <a href="/VideoLibrary/Settings" class="menu-button @(ViewContext.RouteData.Values["Action"]?.ToString() == "Settings" ? "active" : "")">
                    <div class="menu-button-info">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/>
                        </svg>
                        <span>@VideoLibrary_Layout.Settings</span>
                    </div>
                    <div class="button-active-mark"></div>
                </a>
            }
            <button onclick="updateVideos()" class="update-button">
                <div class="update-button-info">
                    <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960">
                        <path d="M480-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-480q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q82 0 155.5 35T760-706v-94h80v240H600v-80h110q-41-56-101-88t-129-32q-117 0-198.5 81.5T200-480q0 117 81.5 198.5T480-200q105 0 183.5-68T756-440h82q-15 137-117.5 228.5T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/>
                    </svg>
                    <span>@VideoLibrary_Layout.UpdateLibrary</span>
                </div>
                <div class="button-active-mark"></div>
            </button>
        </div>
    </div>
    @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/VideoLibrary/server.js"></script>
@await RenderSectionAsync("BottomScripts", required: false)
</body>
</html>