@model PortalAboutEverything.Models.Blog.MessageViewModel
@using PortalAboutEverything.LocalizationResources.Blog


<div class="section-output">
    <header>
        <link href="/css/Blog/menu.css?v=1.1" rel="stylesheet" />
    </header>
    <body>
        <form action="/Blog/CreatePost" method="post">
            <div class="sending">
                <div class="header">
                    <div class="inf-about-author">
                        <img src="/images/Blog/jpeg/first_ava.jpg" />
                        @Model.CurrentTime <br>
                        <input type="hidden" name="Now" value="@Model.CurrentTime" />
                        @Blog_AdditionalContent.From: @Model.Name <br>
                        <input type="hidden" name="Name" value="@Model.Name" />
                    </div>
                    <div class="text-field">
                        @Html.TextAreaFor(x => x.Message)
                    </div>
                </div>
                <div class="mood-rate">
                    @Blog_AdditionalContent.MoodRate: @Html.TextBoxFor(x => x.MoodRate)
                </div>
                <span class="Submit">
                    <input type="submit" name="name" value="Post" />
                </span>
            </div>

            <div class="validation-error">
                @Html.ValidationMessageFor(x => x.Message)
            </div>
            <div class="validation-error">
                @Html.ValidationMessageFor(x => x.MoodRate)
            </div>
        </form>
    </body>

</div>
