@model PortalAboutEverything.Models.Blog.BlogViewModel
@using PortalAboutEverything.LocalizationResources.Blog



@section Style
{
    <link href="/css/Blog/style.css?v=3.7" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="/js/Blog/blogIndex.js?v=1.2"></script>
    <script src="/js/Blog/ajaxLikeSystem.js?v=1.8"></script>
    <script src="/js/Blog/lifePage.js?v=1.3"></script>
}

<div>


    <!-- About Developer -->


    <div class="company-information">
        <img src="/images/Blog/png/logo.png" alt="" />
        <div class="contact-with-dev">
            @Blog_Index.CompanyNumber: +375294875745<br>
            @Blog_Index.CompanyEmail: absolutelyreal@gmail.com<br>
            @Blog_Index.CompanyAddress: New York, 50 avenue, 32
        </div>
    </div>


    <!-- Menu -->
    @if (Model.IsAccessible)
    {
        <div class="fact"> @Model.Fact </div>

        <div class="menu">
            @if (Model.IsAccessible)
            {
                <div> <a href="/Blog/Blogger"> @Blog_Index.SeePosts </a> </div>
                <div> <a class="create-post" href="/Blog/CreatePost"> @Blog_Index.CreatePost </a> </div>
                <div> <a href="/Blog/SendMessage">  @Blog_Index.SendMessage </a></div>
                <div> <a href="/Blog/SeeApiMethods"> @Blog_Index.SeeApiMethods </a></div>
                <div> <a href="/Blog/SeeComments"> @Blog_Index.SeeYourComments </a></div>
            }
        </div>
    }


    <!-- Information About Blog Author -->


    <div class="inf-about-blog-author">
        <span class="ava">
            <div class="main-ava">
                <img src="/images/Blog/jpeg/first_ava.jpg" alt="" />
            </div>
            <div class="additional-avas">
                <img src="/images/Blog/jpeg/third_ava.jpg" alt="" />
                <div class="new">
                    @Blog_Index.More
                </div>
            </div>
        </span>
        <span class="text-about-blog-author">
            @Blog_Index.UserName: <span> @Model.Name </span><br>
            @Blog_Index.UserLanguage: <span> @Model.UserLanguage</span><br>
            @Blog_Index.UserRole: <span> @Model.Role</span><br>
        </span>
    </div>


    <!-- Posts By Author -->


    <div class="interactive-section">
        <div class="selection-bar">
            <span class="tag">@Blog_Index.TagNewest</span>
            <span class="tag">@Blog_Index.TagPopular</span>
            <span class="tag">@Blog_Index.TagLikable</span>
            <span class="tag">+</span>
        </div>

        <div>

            @if (Model.IsAccessible)
            {

                @foreach (var post in Model.Posts)
                {
                    <div class="post">
                        <span class="header">
                            @Blog_Index.PostAuthor: @post.Name <br>
                            @Blog_Index.PostDate: @post.CurrentTime
                        </span>
                        <div class="body">
                            <div class="litle-ava">
                                <img src="/images/Blog/jpeg/first_ava.jpg" alt="" />
                            </div>
                            <div class="post-stuff">
                                <div class="text-of-post">
                                    @post.Message
                                </div>
                                <div class="cover-post">

                                    @if (post.HasCover)
                                    {
                                        <img class="cover" src="/images/Blog/cover-@(post.Id).jpg" />
                                    }
                                    else
                                    {
                                        <div>
                                            <form action="/Blog/AddCover?id=@post.Id" method="post" enctype="multipart/form-data">
                                                <input type="file" name="@nameof(Model.Cover)" accept="image/png, image/jpeg" />
                                                <input type="submit" name="name" value="Post" class="cover-submit" />
                                            </form>
                                        </div>            
                                    }

                                    
                                </div>
                            </div>
                        </div>
                         
                        <div class="post-footer">
                            <div class="interaction">

                                <div class="rate">
                                    <button class="like-cover" name="postId" value=@post.Id>
                                        <span class="like"> <img src="/images/Blog/png/like.png" alt="" /> </span>
                                    </button>

                                    <button class="dislike-cover" name="postId" value=@post.Id>
                                        <span class="dislike"> <img src="/images/Blog/png/dislike.png" alt="" /> </span>
                                    </button>

                                    <div class="rate-count">
                                    </div>
                                </div>


                                <span class="answers">
                                    <span class="delete"> <a href="/Blog/DeletePost?id=@post.Id" class="delete-post">@Blog_Index.PostDelete</a></span>
                                    <span><a href="/Blog/UpdateMessage?id=@post.Id">@Blog_Index.PostUpdate</a></span>
                                </span>
                            </div>

                            <input type="hidden" name="userName" value="@Model.Name"/>

                            <form action="/Blog/AddComment" method="post">
                                <input class="post-comment" type="hidden" value="@post.Id" name="postId" />
                                <textarea class="textarea-comment" name="text" placeholder="Text for comment"></textarea>
                                <input class="submit-comment" type="submit" value="Comment" />
                            </form>
                        </div>
                        

                    </div>

                    <div class="comments">
                        @foreach (var comment in post.CommentsBlog)
                        {
                            <div class="comment">
                                <span class="author-name">@comment.Name</span>
                                <span class="date">@comment.CurrentTime</span>
                                <span class="comment-text">@comment.Message</span>
                            </div>
                        }
                    </div>
                }
            }

        </div>
    </div>
</div>