@model PortalAboutEverything.Models.Store.GoodViewModel
@using PortalAboutEverything.LocalizationResources.Store

@section Style {
    <link rel="stylesheet" href="/css/Store/style.css" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="/js/Store/socket.js"></script>
}

<div class="goodPageWrapper">
    <div class="goodDescriptionBlock">
        <div>
            @if (Model.HasCover)
            {
                <img class="goodImg" src="/images/Store/MainPage/ImagesForGoods/goodImage-@(Model.Id).jpg" alt="good" />
            }
            else
            {
                <img class="goodImg" src="/images/Store/MainPage/ImagesForGoods/goodImage-default.jpg" alt="random" />
            }

        </div>
        <div>
            <div class="titleForBlockReviews">
                @if (Model.Reviews.Count > 0)
                {
                    @Store_GoodPage.GoodReviews
                }
                else
                {
                    @Store_GoodPage.ReviewsWillBeHereText
                }
            </div>
            <div class="blockGoodReviews" data-id=@Model.Id>
                @foreach (var review in Model.Reviews)
                {
                    <div class="goodReview">
                        <span class="userName">@review.UserWhoLeavedAReview</span> <span class="text">@review.Text</span>
                    </div>
                }
            </div>
            <form class="reviewForm" method="post">
                <h3 class="reviewTitle">@Store_GoodPage.WriteReview</h3>
                <input id="goodId" type="hidden" value="@Model.Id" name="goodId" />
                <textarea class="reviewField" name="text" placeholder="@Store_GoodPage.LeaveYourReview"></textarea>
                <input class="submitBtn" type="button" value="@Store_GoodPage.LeaveReviewTextBtn" />
            </form>
        </div>
    </div>
    <div class="goodInfoBlock">
        <div>
            <div class="goodName">
                @Model.Name
            </div>
            <div class="goodDescription">
                @Model.Description
            </div>
            <p class="pricePretext">@Store_GoodPage.PriceFrom<span class="price"> @Model.Price </span>@Store_GoodPage.Value</p>
        </div>
    </div>
</div>








