@model PortalAboutEverything.Models.Store.BaseForStoreIndexViewModel
@using PortalAboutEverything.LocalizationResources.Store

@section Style {
    <link rel="stylesheet" href="/css/Store/style.css" />
}

<div class="storeWrapper" data-theme="light">
    <div class="header">
        <div class="changeThemeBlock">
            <form method="get" class="formMode">
                <div class="themeDecor">
                    <p class="nameTheme">@Store_Index.LightMode</p>
                    <label class="switch">
                        <input type="checkbox" class="switchInput">
                        <span id="changeTheme" class="switchSlider"></span>
                    </label>
                </div>
            </form>
        </div>
        <div class="headerContent">
            <p class="headerTitle">
                wildberries
            </p>
            <button class="menuBtn">
                <img class="menuImg" src="/images/store/header/burgerMenuIcon.png" alt="menu" />
            </button>
            <div class="searchBlock">
                <input class="searchField" placeholder="@Store_Index.FindGoods" />
                <img class="searchImg" src="/images/store/header/searchIcon.svg" alt="search" />
            </div>
            <ul class="featuresList">
                <li class="headerFeaturesBlock">
                    <img class="featureIcon" src="/images/store/header/deliveryIcon.svg" alt="delivery" />
                    <p class="featuresTitle">@Store_Index.Delivery</p>
                </li>
                <li class="headerFeaturesBlock">
                    <a href="/Store/FavouriteGoods" class="linkToFavouriteGoods">
                        <img class="featureIcon" src="/images/store/header/likedIcon.svg" alt="liked" />
                        <p class="featuresTitle">@Store_Index.Liked</p>
                    </a>
                </li>
                <li class="headerFeaturesBlock">
                    <a href="/Store/TopGoods" class="linkToFavouriteGoods">
                        <img class="featureIcon" src="/images/store/header/loginIcon.svg" alt="favourites" />
                        <p class="featuresTitle">@Store_Index.Popular</p>
                    </a>
                </li>
                <li class="headerFeaturesBlock">
                    <img class="featureIcon" src="/images/store/header/basketIcon.svg" alt="basket" />
                    <p class="featuresTitle">@Store_Index.Cart</p>
                </li>
            </ul>
        </div>
    </div>
    <main class="container">
        <div>
            <a href="#" class="salesLink">
                <img class="salesImg" src="/images/store/MainPage/salesIcon.webp" alt="sales" />
            </a>
        </div>
        @if (Model.Goods?.Count == 0)
        {
            <div class="goodsTitle">
                @Store_Index.NoGoods
            </div>
        }
        @if (Model.IsAdmin)
        {
            <a href="/Store/AddGood" class="addGoodLink">
                @Store_Index.AddGood
            </a>
        }

        <div class="goodsBlock">
            @foreach (var good in Model.Goods)
            {
                <div class="goodBlock">
                    <a class="linkToReview" href="/Store/Good/@good.Id">
                        @if (good.HasCover)
                        {
                            <img class="good" src="/images/Store/MainPage/ImagesForGoods/goodImage-@(good.Id).jpg" alt="goodImage" />
                        }
                        else
                        {
                            <img class="good" src="/images/Store/MainPage/ImagesForGoods/goodImage-default.jpg" alt="default" />
                        }
                        <img class="likedIcon" src="/images/store/header/likedIcon.svg" alt="liked" />
                    </a>
                    <p class="pricePretext">@Store_Index.PriceFrom<span class="price"> @good.Price </span>@Store_Index.Value</p>
                    <p class="salor">Valencia med - @good.Name</p>
                    <p class="goodDescription">@good.Description</p>
                    <div class="raitingBlock">
                        <img class="infoIcon" src="/images/store/MainPage/raitingIcon.svg" alt="raiting" />
                        <p class="info">4.8</p>
                        <img class="infoIcon" src="/images/store/MainPage/commentIcon.svg" alt="comments" />
                        <p class="info">311</p>
                    </div>
                    <div class="buyBlock">
                        <button class="buyBtn">5 мая</button>
                        <img class="basketIconForBtn" src="/images/store/header/basketIcon.svg" alt="basket" />
                    </div>
                    @if (Model.IsStoreAdmin)
                    {
                        <a href="/Store/UpdateGood/@good.Id" class="updateGoodLink">@Store_Index.UpdateGoodInfo</a>
                    }
                    @if (Model.IsAdmin)
                    {
                        <a href="/Store/DeleteGood/@good.Id" class="deleteGoodLink">@Store_Index.DeleteGood</a>
                    }
                </div>
            }
        </div>
    </main>
</div>

