@model PortalAboutEverything.Models.Store.GoodUpdateViewModel;
@using PortalAboutEverything.LocalizationResources.Store

@section Style {
    <link rel="stylesheet" href="/css/Store/style.css" />
}


<form method="post" class="addGoodForm">
    @Html.HiddenFor(x => x.Id)
    <div class="addGoodTitle">
        @Store_AddOrUpdateGood.UpdateGood
    </div>
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = Store_AddOrUpdateGood.EnterTheGoodName, @class = "goodNameInput" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        @Html.TextAreaFor(x => x.Description, new { placeholder = Store_AddOrUpdateGood.EnterTheGoodDescription, @class = "goodDescriptionInput" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Price, new { placeholder = Store_AddOrUpdateGood.EnterTheGoodPrice, @class = "goodPriceInput", type = "number" })
        @Html.ValidationMessageFor(x => x.Price)
    </div>
    <div class="addGoodBtnBlock">
        <input class="addGoodBtn" type="submit" value="@Store_AddOrUpdateGood.Save" />
    </div>
</form>
