@model PortalAboutEverything.Models.BoardGame.BoardGameViewModel
@using PortalAboutEverything.LocalizationResources.BoardGame

@section Style {
    <link href="/css/BoardGame/style.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script defer src="/js/BoardGame/boardGameReviews.js"></script>
    <script defer src="/js/BoardGame/ajaxToFavorite.js"></script>
}

<div class="banner">
    <img src="/images/BoardGame/banner.webp" alt="@BoardGame_GamePage.AdvertisingBanner" />
</div>

<header class="board-game-header">
    <div class="container">
        <div class="header-elements">
            <div class="left-elements">
                <a href="#" class="header-element">@BoardGame_GamePage.Shops</a>
                <a href="#" class="header-element">@BoardGame_GamePage.GameLibraries</a>
            </div>
            <div class="right-elements">
                <a href="#" class="header-element">@BoardGame_GamePage.WorkSchedule</a>
                <p href="#" class="header-element">+7 123 456-78-90</p>
            </div>
        </div>
    </div>
</header>

<input type="hidden" class="game-id" value="@Model.Id" />
<input type="hidden" class="text-for-add" value="@BoardGame_GamePage.AddToFavorites" />
<input type="hidden" class="text-for-remove" value="@BoardGame_GamePage.RemoveFromFavorites" />
<input type="hidden" class="absence-of-reviews-text" value="@BoardGame_GamePage.AbsenceOfReviewsText" />

<div class="title">
    <div class="container">
        <h1 class="head-title">@Model.Title</h1>
        <p class="mini-title">@Model.MiniTitle</p>
    </div>
</div>

<div class="main-block">
    <div class="container">
        <div class="main-wraper">
            <div class="left-part">
                <div class="images">
                    @if (Model.HasSideImage)
                    {
                        <img src="/images/BoardGame/sideImage-@(Model.Id).jpg"
                             alt="@BoardGame_GamePage.SideImages"
                             class="elongated-image" />
                    }
                    else if (Model.ProductCode == 31458)
                    {
                        <img src="/images/BoardGame/sideImage-default.png"
                             alt="@BoardGame_GamePage.SideImages"
                             class="elongated-image" />
                    }

                    @if (Model.HasMainImage)
                    {
                        <img src="/images/BoardGame/mainImage-@(Model.Id).jpg"
                             alt="@BoardGame_GamePage.FotoOfGame"
                             class="square-image" />
                    }
                    else if (Model.ProductCode == 31458)
                    {
                        <img src="/images/BoardGame/mainImage-default.jpg"
                             alt="@BoardGame_GamePage.FotoOfGame"
                             class="square-image" />
                    }
                </div>
                <div class="description">
                    <h3 class="desc-title">@BoardGame_GamePage.Description</h3>
                    <p class="desc-text">
                        @Model.Description
                    </p>
                    @if (Model.Essence is not null)
                    {
                        <h3 class="desc-title">@BoardGame_GamePage.Essence</h3>
                        <p class="desc-text">
                            @Model.Essence
                        </p>
                    }
                </div>
                @if (Model.Tags is not null)
                {
                    <div class="tags">
                        <span class="tag">@Model.Tags</span>
                    </div>
                }
            </div>
            <div class="price-card">
                <div class="first-row">
                    <h2 class="price">@Model.Price ₽</h2>
                    <p class="code">@BoardGame_GamePage.ProductCode: @Model.ProductCode</p>
                </div>
                <div class="buttons">
                    <button class="highlighted-button">@BoardGame_GamePage.AddToCart</button>
                    @if (Model.IsFavoriteForUser)
                    {
                        <input type="hidden" class="is-add" value="0" />
                        <button class="usual-button favorite-button">@BoardGame_GamePage.RemoveFromFavorites</button>
                    }
                    else
                    {
                        <input type="hidden" class="is-add" value="1" />
                        <button class="usual-button favorite-button">@BoardGame_GamePage.AddToFavorites</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="reviews">
    <div class="container">
        <h3 class="reviews-head">@BoardGame_GamePage.Reviews</h3>
        <div class="reviews-container">
        </div>
        <div class="review-buttons">
            <button class="usual-button">@BoardGame_GamePage.ShowMore</button>
            <button class="highlighted-button create-review-button" onclick="window.location.href = '/BoardGameReview/Create?GameId=@Model.Id';">@BoardGame_GamePage.AddReview</button>
        </div>
    </div>
</div>

<div class="special-games">
    <div class="container">
        <div class="game-of-day">
            <h3>@BoardGame_GamePage.BoardGameOfDay</h3>
            @if (Model.BoardGameOfDay.HasMainImage)
            {
                <img src="/images/BoardGame/mainImage-@(Model.BoardGameOfDay.Id).jpg"
                     alt="@BoardGame_GamePage.FotoOfGame"
                     class="square-image" />
            }
            else
            {
                <img src="/images/BoardGame/mainImage-default.jpg"
                     alt="@BoardGame_GamePage.FotoOfGame"
                     class="square-image" />
            }
            <a href="/BoardGame/BoardGame?Id=@Model.BoardGameOfDay.Id">@Model.BoardGameOfDay.Title</a>
            <div class="price">@Model.BoardGameOfDay.Price ₽</div>
        </div>
        <div class="best-game">
            <h3>@BoardGame_GamePage.BestBoardGame</h3>
            @if (Model.BestBoardGame.HasMainImage)
            {
                <img src="/images/BoardGame/mainImage-@(Model.BestBoardGame.Id).jpg"
                     alt="@BoardGame_GamePage.FotoOfGame"
                     class="square-image" />
            }
            else
            {
                <img src="/images/BoardGame/mainImage-default.jpg"
                     alt="@BoardGame_GamePage.FotoOfGame"
                     class="square-image" />
            }
            <a href="/BoardGame/BoardGame?Id=@Model.BestBoardGame.Id">@Model.BestBoardGame.Title</a>
            <div class="price">@Model.BestBoardGame.Price ₽</div>
            <div class="count-of-user-who-like-it">@BoardGame_GamePage.CountOfLikes: @Model.BestBoardGame.CountOfUserWhoLikeIt</div>
        </div>
    </div>
</div>


<div class="board-game-footer">
    <div class="container">
        <div class="footer-elements">
            <p>@BoardGame_GamePage.Manufacturer</p>
        </div>
    </div>
</div>
