@model PortalAboutEverything.Models.BoardGame.BoardGameCreateViewModel
@using PortalAboutEverything.LocalizationResources.BoardGame

@section Style {
    <link href="/css/BoardGame/forms.css" rel="stylesheet" />
}

<div class="board-game-or-review-form">
    <h2>
        @BoardGame_CreateGame.TitleOfPage
    </h2>
    <form method="post">
        <div>
            @Html.TextBoxFor(boardGame => boardGame.Title, new
                {
                    placeholder = $"{BoardGame_CreateGame.Title}",
                    @class = "foarm-field"
                })
            @Html.ValidationMessageFor(boardGame => boardGame.Title)
        </div>
        <div>
            @Html.TextBoxFor(boardGame => boardGame.MiniTitle, new
                {
                    placeholder = $"{BoardGame_CreateGame.MiniTitle}",
                    @class = "foarm-field"
                })
            @Html.ValidationMessageFor(boardGame => boardGame.MiniTitle)
        </div>
        <div>
            @Html.TextAreaFor(boardGame => boardGame.Description, new
                {
                    placeholder = $"{BoardGame_CreateGame.Description}",
                    @class = "foarm-field"
                })
            @Html.ValidationMessageFor(boardGame => boardGame.Description)
        </div>
        <div>
            @Html.TextAreaFor(boardGame => boardGame.Essence, new
                {
                    placeholder = $"{BoardGame_CreateGame.Essence}",
                    @class = "foarm-field"
                })
        </div>
        <div>
            @Html.TextBoxFor(boardGame => boardGame.Tags, new
                {
                    placeholder = $"{BoardGame_CreateGame.Tags}",
                    @class = "foarm-field"
                })
        </div>
        <div>
            @Html.TextBoxFor(boardGame => boardGame.Price, new
                {
                    placeholder = $"{BoardGame_CreateGame.Price}",
                    @class = "foarm-field",
                    @type = "number"
                })
            @Html.ValidationMessageFor(boardGame => boardGame.Price)
        </div>
        <div>
            @Html.TextBoxFor(boardGame => boardGame.ProductCode, new
                {
                    placeholder = $"{BoardGame_CreateGame.ProductCode}",
                    @class = "foarm-field",
                    @type = "number"
                })
            @Html.ValidationMessageFor(boardGame => boardGame.ProductCode)
        </div>
        <div>
            <input class="button-send" type="submit" value="@BoardGame_CreateGame.AddButton" />
        </div>
    </form>
</div>