@model PortalAboutEverything.Models.BoardGame.BoardGameCreateReviewViewModel

@section Style {
    <link href="/css/BoardGame/forms.css" rel="stylesheet" />
}

<div class="board-game-or-review-form">
    <h2>
        Напишите ваше мнение об игре "@Model.BoardGameName"
    </h2>
    <form method="post">
        @Html.HiddenFor(review => review.BoardGameId)
        @Html.HiddenFor(review => review.BoardGameName)
        <div>
            @Html.TextAreaFor(review => review.Text, new
                {
                    placeholder = "Ваш отзыв",
                    @class = "foarm-field"
                })
            @Html.ValidationMessageFor(review => review.Text)
        </div>
        <div>
            <input class="button-send" type="submit" value="Опубликовать отзыв" />
        </div>
    </form>
</div>