@model PortalAboutEverything.Models.BoardGame.IndexViewModel
@using PortalAboutEverything.LocalizationResources.BoardGame

@section Style {
    <link href="/css/BoardGame/boardGamesIndex.css?v=4" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script defer src="/js/BoardGame/index.js"></script>
    <script defer src="/js/BoardGame/ajaxDelete.js"></script>
}

<div class="board-game-list">
    <h2 class="title">@BoardGame_Index.PageTitle</h2>
    <ul class="board-games">
        @foreach (var boardGame in Model.BoardGames)
        {
            <li class="board-game-item board-game">
                <input class="board-game-id" type="hidden" value="@boardGame.Id"/>
                <a class="board-game-title text-dark" href="/BoardGame/BoardGame?Id=@boardGame.Id">@boardGame.Title</a>
                <div class="update-and-delete">
                    @if (Model.CanCreateAndUpdateBoardGames)
                    {
                        <a class="edit-link" href="/BoardGame/Update?id=@boardGame.Id">
                            <img class="icon edit-icon" src="/images/BoardGame/edit.svg" alt="@BoardGame_Index.UpdateButton" />
                        </a>
                    }
                    @if (Model.CanDeleteBoardGames)
                    {
                        <div class="delete-link">
                            <img class="icon delete-icon" src="/images/BoardGame/delete.svg" alt="@BoardGame_Index.DeleteButton" />
                        </div>
                    }
                </div>
            </li>
        }
    </ul>

    <div class="favorite-board-game">
        <a class="favorite-board-game-link" href="/BoardGame/UserFavoriteBoardGames">@BoardGame_Index.FavoriteButton</a>
    </div>
    @if (Model.CanCreateAndUpdateBoardGames)
    {
        <div class="add-board-game">
            <a class="add-board-game-link" href="/BoardGame/Create">@BoardGame_Index.AddButton</a>
        </div>
    }

    <ul class="board-games top-board-games">
        @for(int i = 0; i < Model.Top3FavoriteBoardGames.Count; i++)
        {
            var favoriteBoardGame = Model.Top3FavoriteBoardGames[i];
            <li class="board-game-item top-board-game-item">
                <input class="top-board-game-id" type="hidden" value="@favoriteBoardGame.Id" />
                <p>@(i+1)</p>
                <a class="board-game-title text-dark top-board-game-title" href="/BoardGame/BoardGame?Id=@favoriteBoardGame.Id">@favoriteBoardGame.Title</a>
                <p class="like-count">@favoriteBoardGame.CountOfUserWhoLikeIt</p>
            </li>
        }
    </ul>
</div>
