@model PortalAboutEverything.Models.GameStore.CreateGameStoreViewModel
@using PortalAboutEverything.LocalizationResources.GameStore

@section Style {
    <link rel="stylesheet" href="/css/GameStore/style.css?v=1" />
}

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.GameName, new { placeholder = GameStore_CreateGame.Placeholder_GameName, @class = "my-input" })
        @Html.ValidationMessageFor(x => x.GameName)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Developer, new { placeholder = GameStore_CreateGame.Placeholder_Developer, @class = "my-input" })
        @Html.ValidationMessageFor(x => x.Developer)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.YearOfRelease)
        @Html.TextBoxFor(x => x.YearOfRelease,
                 new
                 {
                     placeholder = GameStore_CreateGame.Placeholder_YearOfRealese,
                     @class = "my-input",
                     @type = "number",
                 })
        @Html.ValidationMessageFor(x => x.YearOfRelease)
    </div>
    <div>
        <input type="submit" value="@GameStore_CreateGame.CreatePost" />
    </div>
</form>
