@model PortalAboutEverything.Models.GameStore.IndexGameViewModel
@using PortalAboutEverything.LocalizationResources.GameStore
@section Style {
    <link rel="stylesheet" href="~/css/GameStore/style.css?v=2" />
}

<div class="header_site">
    <div class="site-name">
        @GameStore_Index.GameStore
    </div>
    <div class="header_left">
        <button class="catalog_games">
            @GameStore_Index.CatalogGames
        </button>
    </div>
    <div class="header_right">
        <button class="login">
            <a href="/GameStore/GamerGameStore">@GameStore_Index.Login</a>
        </button>
        <button class="basket">
            @GameStore_Index.Basket
        </button>
    </div>
</div>
<div>
    @if (Model.CanCreateGameInGameStore)
    {
        <a href="/GameStore/CreateGame">@GameStore_Index.CreateGame</a>
    }
</div>
<div class="center-block">
    @foreach (var game in Model.Games)
    {
        <div class="game">
            @if (Model.CanUpdateGameInGameStore)
            {
                @GameStore_Index.Game <a href="/GameStore/Update?id=@game.Id">@game.GameName</a>
            }

            @GameStore_Index.YearOfRelease @game.YearOfRelease
            @GameStore_Index.Developer @game.Developer
            @if (Model.CanDeleteGameInGameStore)
            {
                <a href="/GameStore/Delete?id=@game.Id" class="delete">X</a>
            }
        </div>
    }
</div>