@model PortalAboutEverything.Models.GameStore.GameStoreUpdateViewModel

@section Style {
    <link rel="stylesheet" href="/css/GameStore/style.css?v=1" />
}

<form method="post">
    @Html.HiddenFor(x => x.Id)
    <div>
        @Html.TextBoxFor(x => x.GameName, new { placeholder = "Название игры", @class = "my-input" })
        @Html.ValidationMessageFor(x => x.GameName)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Developer, new { placeholder = "Разработчик", @class = "my-input" })
        @Html.ValidationMessageFor(x => x.Developer)
    </div>
    <div>
        @Html.TextBoxFor(x => x.YearOfRelease,
                 new
                 {
                     placeholder = "Год выпуска",
                     @class = "my-input",
                     @type = "number",
                 })
        @Html.ValidationMessageFor(x => x.YearOfRelease)
    </div>
    <div>
        <input type="submit" value="Обновить"/>
    </div>
</form>
